/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body {
    background-image: url(../img/cork.png);
}

/* TITLES */
h1 {
    background-image: url(../img/wall.png);
    padding: 20px;
    text-align: center;
    font-size: 3rem;
}

/* CARDS + CARD'S CONTENT */
.card {
    margin-top: 0.5rem;
    padding: 1rem;
    position: relative;
}

.photopin {
    position: absolute;
    left: 185px;
    bottom: 480px;
}

.card img {
    padding: 5px;
}