/* FONTS & ICONS */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body {
    background-image: url(../img/cork.png);
}

/* TITLES */
h1 {
    background-image: url(../img/wall.png);
    padding: 20px;
    text-align: center;
    font-size: 4rem;
    font-family: "Edu TAS Beginner", cursive;
    font-weight: 700;
}

/* CARDS + CARD'S CONTENT */
.card {
    margin-top: 0.5rem;
    padding: 1rem;
    position: relative;
}

.card-title {
    font-family: "Edu TAS Beginner";
    font-size: 20px;
}

.caption {
    color: gray;
    font-family: "Sometype Mono", monospace;
}

.photopin {
    position: absolute;
    top: -15px;    
    left: 50%;   
    transform: translateX(-50%);
    width: 40px;
    height: auto;
}

.card img {
    margin: 5px;
    cursor: pointer;
}

.card img:hover {
    transform: scale(1.04);
    transform: rotate(10deg);
    transition: 1s;
    box-shadow: 0 0 20px black;
}

/* OVERLAY & OVERLAY BUTTON */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.closeBtn {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../img/wall.png);
    padding: 8px 12px;
    cursor: pointer;
}

.overlay img {
    max-width: 45%;
    max-height: 45%;
}